<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/newHome.css">
        </head>

        <body dir="rtl">
        <div class="fullscreen">
            <div class="menu">
                <div class="logo">
                    <img src="/img/eran.png" height="100%" width="100%">
                </div>
                <div class="list">
                    <div class="item">
                        <img src="/img/home.png">
                        <a href="/home">דף הבית </a>
                    </div>
                    <div class="item">
                        <img src="/img/myThoughts.png">
                        <a href="/home">היומן שלי</a>   
                    </div>
                    <div class="item">
                        <img src="/img/community.png">
                        <a href="/home">קהילה</a>
                    </div>
                    <div class="item">
                        <img src="/img/help.png">
                        <a href="/home">עזרה</a>
                    </div>
                    <div class="item">
                        <img src="/img/graph.png">
                        <a href="/home">נתונים</a>
                    </div>
                    <div class="item">
                        <img src="/img/mood.png">
                        <a href="/home">המלצות</a>
                    </div>
                    <div class="item">
                        <img src="/img/settings1.png" height="30%">
                        <a href="/home">הגדרות</a>
                    </div>
                </div>
            </div>

            <div class="main">
                <div class="welcome">
                    <div class="name">איך מתנהל היומן באתר?</div>
                </div>
                <div class="explain">
                    <div class="ex1">
                        שירותי ער"ן ברשת מאפשרים לך לקבל סיוע נפשי ותמיכה רגשית באמצעות המילה הכתובה.
                        <br>
                        מתנדבי ער"ן כאן למענך, בכל ימות השנה, מקשיבים, מכילים ומסייעים לך ברגעי המשבר.
                        <br>
                        באפשרותך לשתף מחשבות על בסיס יומי, או לכתוב מחשבות רק עבורך.
                    </div>
                    <div class="ex2">
                        כל המחשבות הן אנונימיות ויועלו עם הכינוי שבחרת.
                        <br><br>
                        מהו האירוע שהתרחש?
                        <br> מה הרגשת?
                        <br> איך פעלת באירוע?
                    </div>
                </div>
                <div class="shareType">
                    <div class="public">
                        <img src="/img/public.png">
                        <a href="/publicSharing">שיתוף ציבורי</a>
                    </div>
                    <div class="volunteers">
                        <img src="/img/volu.png">
                        <a>שיתוף רק למתנדבים</a>
                    </div>
                    <div class="private"> 
                        <img src="/img/private.png">
                        <a>רק אני</a>
                    </div>
                </div>
            </div>

            <div class="left">
                <img src="/img/crazykid.png">
            </div>
        </body>
</html>