<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/uploadThought.css">
    </head>
    <body dir="rtl">
        <div class="fullscreen">
            <div class="headline">
                עריכת מחשבה {{date}}
                <img src="/img/openShare.png">
            </div>
            <div class="share">
                <form action="/editPersonalThought/{{id}}" method="post">
                    <input type="text" name="header" placeholder="נושא המחשבה" value="{{header}}"><br><br>
                    <textarea name="content" placeholder="מהו האירוע?" rows="10" cols="50">{{content}}</textarea><br><br>
                    <select id="privacy" name="chosen" name="chosen">
                        <option value="public" selected>שיתוף ציבורי</option>
                        <option value="eran">שיתוף למתנדבי ער"ן</option>
                        <option value="private">שיתוף פרטי</option>
                    </select>
            </div>
            <div class="sub">
                    <input type="submit" value="הוספה ליומן שלי">
                </form>
            </div>
            </div>
    </body>
</html>