<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/emergency.css">
    </head>
        <body dir="rtl">
            <div class="fullscreen">
              <div class="top">
                    מתנדבי ער"ן פה בשבילך
                    <div class="line">

                    </div>
                    אנחנו מחכים לשמוע ממך
              </div>
              <div class="ex1">
                   ברגעי מצוקה, כדאי לדבר על המחשבות והרגשות, עד שהמצוקה תעבור.
                   <br>
                   ניתן ליצור איתנו קשר במגוון דרכים, אנחנו מבטיחים להקשיב.
              </div>
              <div class="list">
                  <div class="item">
                      <img src="/img/heart.png">
                      <a href="">לשירות הווטסאפ של ער"ן</a>
                  </div>
                  <div class="item">
                      <img src="/img/heart.png">
                      <a href="">צ'אט</a>
                  </div>
                  <div class="item">
                      <img src="/img/heart.png">
                      <a href="">לשליחת אסמס</a>
                  </div>
                  <div class="item">
                      <img src="/img/heart.png">
                      <a href="">פורום</a>
                  </div>
                  <div class="item">
                      <img src="/img/heart.png">
                      <a href="">לשליחת מייל</a>
                  </div>
                  <div class="item">
                      <img src="/img/heart.png">
                      <a href="">לשירות הטלפוני ניתן להתקשר למספר 1201</a>
                  </div>
              </div>
              <div class="ex2">
                  ניתן גם לעשות פעילויות שיעבירו את התחושה הרעה.
                  יש לנו כמה המלצות שיוכלו לעזור.
              </div>
              <div class="reco">
                  <a href="/home" class="aa">מעבר להמלצות</a>
              </div>
            </div>
        </body>
</html>