<!DOCTYPE html>
<html>
    <head></head>
        <body>
            <div class="topToBottom">
                   <div class="top">
                     <div class="arrow">

                    </div>
                    <div class="waiting">
                        אנחנו מחכים לשמוע ממך
                    </div>
                    </div>

                    <div class="middle">
                        <div class="headText">
                            <div class="t1">
                                ברגעי מצוקה, כדאי לדבר על המחשבות והרגשות, עד שהמצוקה תעבור.
                            </div>
                            <div class="t2">
                                ניתן גם ליצור איתנו קשר במגוון דרכים, אנחנו מבטיחים להקשיב.
                            </div>
                            <div class="menu">
                                <img src="/img/sos.png">
                            </div>
                            <div class="t3">
                                ניתן גם לעשות פעילויות שיעבירו את התחושה הרעה
                            </div>
                            <div>
                                יש לנו כמה המלצות שיוכלו לעזור.
                            </div>
                            <div class="button"> 
                                מעבר להמלצות
                            </div>
                        </div>
                    </div>
            </div>
         
        </body>
</html>