<!DOCTYPE html>
<html>
    <head></head>
        <body>
            <h1>Welcome back!</h1><br><br>
            <h3>Your progress:</h3>
            <p>always remember that we all have ups and downs</p>
            <br><br>
            <h3>Upload a thought</h3><br><br>

            <h3>Your thoughts</h3><br><br>

            <h3>See what others are thinking</h3>
            
        </body>
</html>