<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
        <body>
            <div class="fullScreen" dir="rtl">
                <div class="menuDiv">
                     {{>menu}}
                </div>

                <div class="screenDiv">
                     <div class="rightPane">
                         <div class="topRight">
                             <div class="moodDiv"></div>
                             <div class="shareThoughtDiv">
                                  <a href="/uploadNewThought">אני רוצה לשתף</a>
                             </div>
                         </div>
                         <div class="progressDiv">
                            <div>
                                <canvas id="myChart" style="position: relative"></canvas>
                            </div>
                            <script src="/js/chart.js"></script>
                         </div>
                </div>
                    <div class="leftPane">
                        <div class="diaryPeakDiv"></div>
                        <div class="recommendationDiv"></div>
                    </div>
                </div>
            </div>
           
        </body>
</html>