<!DOCTYPE html>
<html>
    <head></head>
        <body>
            <p>{{message}}</p>
            <form action="/" method="post">

                <label>Username</label>
                <input type="text" name="username" required><br><br>
                <label>Password</label>
                <input type="password" name="password" required><br><br>
                <input type="submit">
                
            </form>

            <p>Don't have an account?</p>
            <a href="/signin">Sign in here</a>

        </body>
</html>