<html>

    <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/choose.css">
    <script src="/js/feeling.js" defer></script>
    </head>

    <body dir="rtl">
        <div class="fullscreen">
            <div class="right">
                <div class="topRight">
                    <img src="/img/eran.png" style="width: 30%;">
                </div>
                <div class="progBar">
                    <img src="/img/prog2.png" style="height: 2%;">
                </div>
                 <div class="head1">
                    <br><br>
                    מעקב רגשות
                </div>
                 <div class="explenation">בחירה של רגשות שהרגשת היום או ברגע זה.</div>
                 <div class="negative">
                     <div class="head2" dir="rtl">
                         <br><br>

                         רגשות שליליים
                         <br>
                     </div>
                         <div class="list">
                             <div class="ls1">
                                 <button class="btn" id="1" onclick="handleButton(this)">מבוכה</button>
                                 <button class="btn" id="2" onclick="handleButton(this)">מועקה</button>
                                 <button class="btn" id="3" onclick="handleButton(this)">מתח  </button>
                                 <button class="btn" id="4" onclick="handleButton(this)">ריקנות</button>
                                 <button class="btn" id="5" onclick="handleButton(this)">שיעמום</button>
                             </div>
                             <div class="ls2">
                                 <button class="btn" id="6" onclick="handleButton(this)">תקיעות</button>
                                 <button class="btn" id="7" onclick="handleButton(this)">עייפות</button>
                                 <button class="btn" id="8" onclick="handleButton(this)">עצבים</button>
                                 <button class="btn" id="9" onclick="handleButton(this)">קנאה</button>
                                 <button class="btn" id="10" onclick="handleButton(this)">תסכול</button>

                             </div>
                         </div>
                 </div>
            </div>
            <div class="left">
                <div class="positive">
                    <div class="head3">
                        <br><br>
                        רגשות חיוביים
                        <br>
                    </div>
                        <div class="list2">
                            <div class="ls1">
                                 <button class="btn" id="11" onclick="handleButton(this)">יציבות</button>
                                 <button class="btn" id="12" onclick="handleButton(this)">כוח</button>
                                 <button class="btn" id="13" onclick="handleButton(this)">שמחה</button>
                                 <button class="btn" id="14" onclick="handleButton(this)">תקווה</button>
                                 <button class="btn" id="15" onclick="handleButton(this)">חוזק</button>
                            </div>
                            <div class="ls2">
                                 <button class="btn" id="16" onclick="handleButton(this)">צמיחה</button>
                                 <button class="btn" id="17" onclick="handleButton(this)">קבלה</button>
                                 <button class="btn" id="18" onclick="handleButton(this)">שייכות</button>
                                 <button class="btn" id="19" onclick="handleButton(this)">ריכוז</button>
                                 <button class="btn" id="20" onclick="handleButton(this)">אומץ</button>
                            </div>
                        </div>
                </div>
                <div>
                    <form action="/processEmotions" method="post">
                        <input type="hidden" id="toSend" name="hiddenValue">
                        <input type="submit" value="<    המשך">
                    </form>
                </div>

            </div>
        </div>
    </body>


</html>