<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <div class="fullscreen" dir="rtl">
            <div class="right">
                            <div class="top">
                <img src="/img/eran.png" style="width: 30%;">
            </div>
            <div class="middle">
                <div class="greet">
                    טוב לראות אותך!
                </div>
                <div class="formAndPic">
                    <div class="form">
                        <form action="/" method="post">
                            <input type="text" name="username" placeholder="שם משתמש" required><br>
                            <label class="label">שם המשתמש איתו נרשמת למערכת</label><br><br>
                            <input type="password" name="password" placeholder="סיסמה" required><br>
                            <label class="label">הסיסמה האישית שלך</label><br><br><br>
                            <label class="label">מה הכינוי שלך היום?</label><br>
                            <input type="text" name="nickname"required><br><br><br>
                            <input type="submit" value="כניסה">
                        </form>
                </div>
                </div>
                <div class="createAccount">
                    <a href="/signup">עוד לא הצטרפת? להצטרפות</a>
                </div>
                
            </div>
        </div>
        <div class="left">
              <div class="window">
                    <img src="/img/window.png">
                </div>

        </div>

        </div>

    </body>
</html>