<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <h3>Your progress:</h3>
            <div>
                <canvas id="myChart" style="position: relative; height:128px; width:100vw"></canvas>
            </div>
        <script src="/js/chart.js"></script>
    </body>
</html>