<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h1>Emotion slider</h1>
<p>hi {{nickname}}!</p>
<p>kindly tell us how good are you feeling</p>

<form action="/processEmotions" method="post">
  <input type="range" min="1" max="10" value="50" class="slider" id="myRange">
  <input type="number" id="demo" name="emotion">
  <input type="submit">
</form>

<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.value = slider.value;

slider.oninput = function() {
  output.value = this.value;
}

output.onchange = function(){
  slider.value = this.value
}
</script>

</body>
</html>
