<!DOCTYPE html>
<html>
    <head></head>
        <body>

            <form action="/signup" method="post">
                <input type="text" placeholder="create a username" name="username" autocomplete="off">
                <input type="password" placeholder="create a password" name="password" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                <input type="password" placeholder="confirm password" name="repeatedPassword" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                <input type="submit">
            </form>

            <p>{{message}}</ps>
            <p>Already have an account></p>
            <a href="/">Log in here</a>
            
        </body>
</html>
