<!DOCTYPE html>
<html>
    <head></head>
        <body>

            <form action="/signin" method="post">
                <input type="text" placeholder="create a username" name="username">
                <input type="text" placeholder="choose a nickname" name="nickname">
                <input type="password" placeholder="create a password" name="password">
                <input type="password" placeholder="confirm password" name="repeatedPassword">
                <input type="submit">
            </form>

            <p>{{message}}</p>
            <p>Already have an account></p>
            <a href="/">Log in here</a>
            
        </body>
</html>
