<!DOCTYPE html>
<html>
    <head></head>
        <body>
            <form action="/home" method="post">
                <input type="text" name="header" value="New Thought"><br><br>
                <textarea name="content" rows="10" cols="50">Tell us what's on your mind</textarea><br><br>

                <input type="radio" id="privateForUser" name="choose">
                <label for="private">Share only with myself</label><br>

                <input type="radio" id="publicForUser" name="choose">
                <label for="public">Share publicly for all users and Eran volunteers</label><br>

                <input type="radio" id="forEran" name="choose">
                <label for="eran">Share with Eran team</label><br><br>

                <input type="submit">
            </form>
        </body>
</html>