<!DOCTYPE html>
<html>
    <head>
        <script src="/js/viewYourThoughts.js" defer></script>
    </head>
        <body>
            <h3>Hi {{username}}!</h3>
            <p>This is where you can view your past thoughts</p>
            <p>{{message}}</p>
            <a href="/uploadNewThought">{{link}}</a>
            {{thoughts}}
        </body>
</html>