<!DOCTYPE html>
<html>
    <head>
    </head>
        <body>
            <h3>Hi {{username}}!</h3>
            <p>This is where you can view the community's thoughts</p>
            <p id="1">{{message}}</p>
            <a href="/uploadNewThought">{{link}}</a>
            <br><br>

           <script>
               console.log('script')
                fetch('/allPublicThoughts').then(response => {
                    response.json().then(data => {
                        for(let i=0; i<data.length; i++){
                            let header = document.createElement('h4')
                            header.textContent = data[i].header

                            let space = document.createElement('br')

                            let paragraph = document.createElement('p')
                            
                            paragraph.textContent = 'created by ' + data[i].username + ' ' + data[i].date + ' → ' + data[i].content


                            document.body.appendChild(header)
                            document.body.appendChild(paragraph)
                            document.body.appendChild(space)
                        }
                    })
                })            

           </script>
        </body>
</html>