 <div class="menu">
                <div class="logo">
                    <img src="/img/eran.png" height="100%" width="100%">
                </div>
                <div class="list">
                    <div class="item">
                        <img src="/img/home.png">
                        <a href="/home">דף הבית </a>
                    </div>
                    <div class="item">
                        <img src="/img/myThoughts.png">
                        <a href="/diary">היומן שלי</a>   
                    </div>
                    <div class="item">
                        <img src="/img/community.png">
                        <a href="/community">קהילה</a>
                    </div>
                    <div class="item">
                        <img src="/img/help.png">
                        <a href="/emergency">עזרה</a>
                    </div>
                    
                    <div class="item">
                        <img src="/img/graph.png">
                        <a href="/data">נתונים</a>
                    </div>
                    <div class="item">
                        <img src="/img/mood.png">
                        <a href="/home">המלצות</a>
                    </div>
                    <div class="item">
                        <img src="/img/settings1.png" height="30%">
                        <a href="/home">הגדרות</a>
                    </div>
                    <div class="item">
                        <a href="/logout">התנתקות</a>
                    </div>
                </div>
            </div>