<div class="menu" dir="rtl">
    <div class="menuItem">
        <img src="/img/logo.png" style="margin-left: 8px; margin-right: 8px;">
    </div>
    
    <div id="homePage" class="selectedMenuItem">
        <img src="/img/home.png" style="margin-left: 8px; margin-right: 8px;">
        דף הבית
    </div>  
    <div class="menuItem">
        <img src="/img/myThoughts.png" style="margin-left: 8px; margin-right: 8px;">
        <a class="menuText" href="viewYourThoughts">המחשבות שלי</a> 
    </div>
    <div class="menuItem">
        <img src="/img/community.png" style="margin-left: 8px; margin-right: 8px;">
        <a class="menuText" href="viewAllPublicThoughts"> קהילה </a>
    </div>
    <div class="menuItem">
        <img src="/img/emergency.png" style="margin-left: 8px; margin-right: 8px;">
        <a href="/emergency" class="menuText">לחצן מצוקה</a>
    </div>
    <div class="menuItem">
        <img src="/img/mood.png" style="margin-left: 8px; margin-right: 8px;">
        שיפור מצב הרוח 
    </div>
    <div class="menuItem">
        <img src="/img/graph.png" style="margin-left: 8px; margin-right: 8px;">
        <a href="/progress" class="menuText">גרף ההתקדמות שלי</a>
    </div>
    <div class="menuItem">
        <img src="/img/settings.png" style="margin-left: 8px; margin-right: 8px;">
        הגדרות
    </div>

</div>
