<div class="menu" dir="rtl">
    <img src="/img/logo.png">
    <div>
        <img src="/img/home.png">
        דף הבית
    </div>  
    <div>
        <img src="/img/myThoughts.png">
        המחשבות שלי 
    </div>
    <div>
        <img src="/img/community.png">
        <a href="viewAllPublicThoughts"> קהילה </a>
    </div>
    <div>
        <img src="/img/emergency.png">
        <a href="/emergency">לחצן מצוקה</a>
    </div>
    <div>
        <img src="/img/mood.png">
        שיפור מצב הרוח 
    </div>
    <div>
        <img src="/img/graph.png">
        <a href="/progress">גרף ההתקדמות שלי</a>
    </div>
    <div>
        <img src="/img/settings.png">
        הגדרות
    </div>

</div>
