.fullScreen{
    display: flex;
    flex-direction: row;
}

.menuDiv{
    width: 25%;
    /* flex-shrink: 0; */
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    background: #FFFFFF;
    border-radius: 30px 0px 30px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 30px;
    border-radius: 30px 0px 30px 20px;
}

.menuDiv {}

.menuText{
    text-decoration: none;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    /* identical to box height */
    color: #000000;
}

.selectedMenuItem{
    display: flex;
    background: rgba(228, 239, 134, 0.19);
}

.menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.screenDiv{
    margin-right: 40px;
    width: 75%;
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: space-between;
}

.rightPane{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 62%;
}

.topRight{
    display: flex;
    flex-direction: row;
    /* flex-shrink: 0; */
    /* overflow: auto; */
    height: 23%;
    justify-content: space-between;
}

.moodDiv{
    background: #DEEDF6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 39%;
}

.shareThoughtDiv{
    background: #AED5C6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 55%;
}

.progressDiv{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    height: 70%;
    align-content: center;
}

.leftPane{
    display: flex;
    width: 35%;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.diaryPeakDiv{
    background: #DEEDF6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 34%;
}

.recommendationDiv{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 62%;
}
