.fullscreen{
    display: flex;
    height: 100%;
flex-direction: row;}

.menu{
    width: 15%;
    display: flex;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background: #FFFFFF;
    border-radius: 0px 0px 0px 20px;flex-direction: column;
}

.logo{
    height: 20%;
}

.list{
    display: flex;
    flex-direction: column;
    height: 100%;justify-content: space-around;
    align-items: center;
    width: 60%;
    /* filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.25)); */
    border-radius: 20px;
    /* background: #FFFFFF; */
    /* border-radius: 0px 0px 0px 20px; */
}

a{
    text-decoration: none;
font-family: 'Rubik';
    }

.item{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #1E416B;
}

.main{
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F9;
}

.welcome{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.name{
    margin-top: 2%;
    font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 51px;

color: #1E416B;
}

.happy{
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #1E416B;
}

.middle{
    margin-top: 2%;
    height: 25%;
display: flex;flex-direction: row;justify-content: space-evenly;}

.moodToday{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 20px;
    height: 90%;
    width: 40%;
    padding: 2%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;

    color: #1E416B;
}

.recommendations{
    padding: 2%;
background: #FFFFFF;
border: 1px solid #E5E5E5;
box-sizing: border-box;
border-radius: 20px;
height: 90%;
width: 40%;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #000000;


}

.text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;

    color: #1E416B;
    text-align: right;
}

.read{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background: #1E416B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.chart{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 30px;
    height: 90%;
    width: 80%;
    align-items: center;
    margin-bottom: 2%;
    margin-right: 10%;
    padding: 2%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;

    color: #1E416B;
    text-align: right;
}

.left{
    width: 30%;
    background: rgba(175, 214, 200, 0.19);
    border-radius: 0px 70px 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.peak{
    background-color: white;
    height: 60%;
    width: 80%;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic{
    height: 28%;
    width: 80%;
    margin-top: 2%;
}

.text2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #1E416B;
    text-align: center;
    padding: 2%;
}

.text3{
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: center;
color: rgba(0, 0, 0, 0.8);
}


.post{
    height: 20%;
    background-color: white;
    width: 80%;
    background: #AED5C6;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 20px;
}

.share{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
text-align: center;
width: 50%;
margin-right: 25%;
color: #FFFFFF;
color: white;
text-decoration: none;
background: #1E416B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.explain{
    font-family: 'Rubik';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    margin-right: 2%;
    color: #000000;
    margin-top: 2%;

}

.ex1{
    font-weight: 500;
}

.ex2{
    font-weight: 1000;
}

.shareType{
    height: 30%;
    text-decoration: none;
margin: 2%;display: flex;flex-direction: row;justify-content: space-evenly;
}


.public{
    background: #1D416B;
    border: 2px solid rgba(0, 22, 10, 0.06);
    border-radius: 60px;
    width: 30%;
    height: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
}

.volunteers{
    background: #1D416B;
    border: 2px solid rgba(0, 22, 10, 0.06);
    border-radius: 60px;
    width: 30%;
    height: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.private{
    background: #1D416B;
    border: 2px solid rgba(0, 22, 10, 0.06);
    border-radius: 60px;
    width: 30%;
    height: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.view{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 40px;
/* identical to box height */
padding: 2%;
text-align: right;
text-decoration: none;
text-align: center;
color: #FFFFFF;
background: #AED5C8;
border-radius: 10px;
width: 20%;

}

.text{
    color: #FFFFFF;
    text-decoration: none;
}

.bottom{
    display: flex;
flex-direction: row;justify-content: space-evenly;}